<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-okta-index") %>>
        <a href="/docs/providers/okta/index.html">Okta Provider</a>
        </li>

        <li<%= sidebar_current("docs-okta-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-okta-datasource-app-metadata-saml") %>>
              <a href="/docs/providers/okta/d/app_saml_metadata.html">okta_app_saml_metadata</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-app-saml") %>>
              <a href="/docs/providers/okta/d/app_saml.html">okta_app_saml</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-app") %>>
              <a href="/docs/providers/okta/d/app.html">okta_app</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-auth-server") %>>
              <a href="/docs/providers/okta/d/auth_server.html">okta_auth_server</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-default-policy") %>>
              <a href="/docs/providers/okta/d/default_policy.html">okta_default_policy</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-everyone-group") %>>
              <a href="/docs/providers/okta/d/everyone_group.html">okta_everyone_group</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-group") %>>
              <a href="/docs/providers/okta/d/group.html">okta_group</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-idp-metadata-saml") %>>
              <a href="/docs/providers/okta/d/idp_saml_metadata.html">okta_idp_saml_metadata</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-idp-saml") %>>
              <a href="/docs/providers/okta/d/idp_saml.html">okta_idp_saml</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-policy") %>>
              <a href="/docs/providers/okta/d/policy.html">okta_policy</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-user") %>>
              <a href="/docs/providers/okta/d/user.html">okta_user</a>
            </li>
            <li<%= sidebar_current("docs-okta-datasource-users") %>>
              <a href="/docs/providers/okta/d/users.html">okta_users</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-okta-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-okta-resource-app-auto-login") %>>
            <a href="/docs/providers/okta/r/app_auto_login.html">okta_app_auto_login</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-bookmark") %>>
            <a href="/docs/providers/okta/r/app_bookmark.html">okta_app_bookmark</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-basic-auth") %>>
            <a href="/docs/providers/okta/r/app_basic_auth.html">okta_app_basic_auth</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-group-assignment") %>>
            <a href="/docs/providers/okta/r/app_group_assignment.html">okta_app_group_assignment</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-oauth") %>>
            <a href="/docs/providers/okta/r/app_oauth.html">okta_app_oauth</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-saml") %>>
            <a href="/docs/providers/okta/r/app_saml.html">okta_app_saml</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-secure-password-store") %>>
            <a href="/docs/providers/okta/r/app_secure_password_store.html">okta_app_secure_password_store</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-swa") %>>
            <a href="/docs/providers/okta/r/app_swa.html">okta_app_swa</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-three-field") %>>
            <a href="/docs/providers/okta/r/app_three_field.html">okta_app_three_field</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-user-base-schema") %>>
            <a href="/docs/providers/okta/r/app_user_base_schema.html">okta_app_user_base_schema</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-user-schema") %>>
            <a href="/docs/providers/okta/r/app_user_schema.html">okta_app_user_schema</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-app-user") %>>
            <a href="/docs/providers/okta/r/app_user.html">okta_app_user</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-auth-server-claim") %>>
            <a href="/docs/providers/okta/r/auth_server_claim.html">okta_auth_server_claim</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-auth-server-policy-rule") %>>
            <a href="/docs/providers/okta/r/auth_server_policy_rule.html">okta_auth_server_policy_rule</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-auth-server-policy") %>>
            <a href="/docs/providers/okta/r/auth_server_policy.html">okta_auth_server_policy</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-auth-server-scope") %>>
            <a href="/docs/providers/okta/r/auth_server_scope.html">okta_auth_server_scope</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-auth-server") %>>
            <a href="/docs/providers/okta/r/auth_server.html">okta_auth_server</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-factor") %>>
            <a href="/docs/providers/okta/r/factor.html">okta_factor</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-group-roles") %>>
            <a href="/docs/providers/okta/r/group_roles.html">okta_group_roles</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-group-rule") %>>
            <a href="/docs/providers/okta/r/group_rule.html">okta_group_rule</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-group") %>>
            <a href="/docs/providers/okta/r/group.html">okta_group</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-idp-oidc") %>>
            <a href="/docs/providers/okta/r/idp_oidc.html">okta_idp_oidc</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-idp-saml-signing-key") %>>
            <a href="/docs/providers/okta/r/idp_saml_signing_key.html">okta_idp_saml_signing_key</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-idp-saml") %>>
            <a href="/docs/providers/okta/r/idp_saml.html">okta_idp_saml</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-idp-social") %>>
            <a href="/docs/providers/okta/r/idp_social.html">okta_idp_social</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-inline-hook") %>>
            <a href="/docs/providers/okta/r/inline_hook.html">okta_inline_hook</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-network-zone") %>>
            <a href="/docs/providers/okta/r/network_zone.html">okta_network_zone</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-policy-mfa") %>>
            <a href="/docs/providers/okta/r/policy_mfa.html">okta_policy_mfa</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-policy-password") %>>
            <a href="/docs/providers/okta/r/policy_password.html">okta_policy_password</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-policy-rule-idp-discovery") %>>
            <a href="/docs/providers/okta/r/policy_rule_idp_discovery.html">okta_policy_rule_idp_discovery</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-policy-rule-mfa") %>>
            <a href="/docs/providers/okta/r/policy_rule_mfa.html">okta_policy_rule_mfa</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-policy-rule-password") %>>
            <a href="/docs/providers/okta/r/policy_rule_password.html">okta_policy_rule_password</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-policy-rule-signon") %>>
            <a href="/docs/providers/okta/r/policy_rule_signon.html">okta_policy_rule_signon</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-policy-signon") %>>
            <a href="/docs/providers/okta/r/policy_signon.html">okta_policy_signon</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-template-email") %>>
            <a href="/docs/providers/okta/r/template_email.html">okta_template_email</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-trusted-origin") %>>
            <a href="/docs/providers/okta/r/trusted_origin.html">okta_trusted_origin</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-user-base-schema") %>>
            <a href="/docs/providers/okta/r/user_base_schema.html">okta_user_base_schema</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-user-schema") %>>
            <a href="/docs/providers/okta/r/user_schema.html">okta_user_schema</a>
          </li>
          <li<%= sidebar_current("docs-okta-resource-user") %>>
            <a href="/docs/providers/okta/r/user.html">okta_user</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
